@media (max-width: 1199px)
	.title_fz42
		font-size: 38px
		line-height: 38px
	.title_fz24
		font-size: 21px
		line-height: 21px
	.title_fz30
		font-size: 27px
		line-height: 27px
	.title_fz36
		font-size: 30px
		line-height: 41px
	.button_big
		width: 280px
		height: 45px
		font-size: 15px
	.button_small
		width: 110px
		height: 35px
		font-size: 13px
	.up-arrow
		width: 40px
		right: 80px
		bottom: 90px
	.form 
		width: 280px
		input 
			height: 49px
			font-size: 13px
			margin-bottom: 11px
	.modals 
		.modal 
			width: 360px
			height: 345px
			padding: 30px 22px 33px
			&__subject
				font-size: 18px
				line-height: 18px
			&__undersubj
				font-size: 13px
				line-height: 13px
				margin: 6px 0px 19px 0px
	.header 
		margin: 21px 0px 80px 0px
		&__logo
			width: 230px
	.promo 
		min-height: 580px
		&__h1 
			margin: 0px 0px 13px 0px
		&__oppor
			margin: 45px 0px 50px 0px
		&__underbut
			font-size: 15px
			line-height: 23px
			margin-top: 6px
	.advantages
		min-height: 404px
		padding: 55px 0px 67px 0px
		&__items
			margin-top: 45px
		&__item
			width: 240px
			&-img
				img 
					width: 24%
			&-head
				font-size: 17px
				line-height: 26px
				margin: 28px 0px 15px 0px
			&-text
				font-size: 13px
				line-height: 17px
	.consultation
		min-height: 545px
		padding: 65px 0px 85px 0px
		&__title
			width: 727px
		&__undertitle
			font-size: 18px
			width: 345px
			margin: 5px 0px 28px 0px
			line-height: 26px
	.slider
		margin: 75px 0px
		&__line
			width: 600px
		&__next, &__prev
			img 
				width: 24px
	.catalog 
		margin-bottom: 55px
		&__nav
			margin: 30px 0px 45px 0px
			&-button
				width: 210px
				font-size: 15px
				height: 47px
		&__items
			grid-template: 390px / repeat(3, 250px)
			grid-auto-rows: 390px
			gap: 14px 13px
		&__item
			padding: 17px
			&-img	
				img
					width: 57%
			&-title
				font-size: 15px
				line-height: 19px
			&-list ul, &-text
				font-size: 13px
				line-height: 19px
			&-back, &-more
				font-size: 13px
				line-height: 13px
			&-price
				font-size: 16px
				line-height: 20px
				span 
					font-size: 13px
					line-height: 14px
	.reviews
		&__items
			margin-top: 40px
		&__item
			&:not(:last-child)
				margin-bottom: 45px
			&-img
				margin-right: 45px
				img 
					width: 130px
			&-title
				font-size: 16px
				line-height: 16px
			&-undtitle
				font-size: 13px
				line-height: 18px
			&-text
				font-size: 14px
				line-height: 22px
				margin-top: 8px
	.footer
		iframe
			height: 530px
		&__board
			width: 440px
			height: 235px
			padding: 40px 0px 46px 0px
		&__address
			font-size: 18px
			line-height: 18px
		&__phone
			font-size: 19px
			line-height: 19px
		&__links
			&-circle
				width: 48px
				height: 48px
				a 
					font-size: 22px
@media (max-width: 991px)
	.button_header
		width: 125px
		height: 30px
		font-size: 10px
	.title_fz42
		font-size: 35px
		line-height: 35px
	.title_fz24
		font-size: 19px
		line-height: 19px
	.button_big 
		width: 250px
		height: 39px
		font-size: 13px
	.title_fz30
		font-size: 22px
		line-height: 22px
	.title_fz36
		font-size: 22px
		line-height: 32px
	.form 
		width: 250px
		input 
			height: 45px
			font-size: 12px
			margin-bottom: 10px
			padding: 0px 17px
	.up-arrow
		width: 33px
		right: 65px
		bottom: 82px
	.button_small
		width: 100px
		height: 30px
		font-size: 12px
	.modals 
		.modal 
			width: 315px
			height: 310px
			padding: 22px 19px 27px
			&__subject
				font-size: 17px
				line-height: 17px
			&__undersubj
				font-size: 12px
				line-height: 12px
				margin: 4px 0px 16px 0px
	.header 
		margin: 15px 0px 60px 0px
		&__logo 
			width: 200px
		&__official
			font-size: 11px
			line-height: 11px
		&__persons
			font-size: 15px
			line-height: 15px
			margin-top: 6px
		&__number
			margin-bottom: 2px
			a 
				font-size: 15px
				line-height: 15px
	.promo 
		min-height: 470px
		&__h1
			margin: 0px 0px 9px 0px
		&__oppor
			margin: 35px 0px 40px 0px
			&-item
				width: 105px
				&:not(:last-child)
					margin-right: 16px
			&-img 
				img 
					width: 30%
			&-undertext
				font-size: 12px
				line-height: 12px
				margin-top: 13px
		&__underbut
			font-size: 13px
			line-height: 17px
			margin-top: 4px
	.advantages
		min-height: 345px
		padding: 40px 0px 55px 0px
		&__items
			margin-top: 30px
		&__item
			width: 182px
			&-img
				img 
					width: 28%
			&-head
				font-size: 15px
				line-height: 18px
				margin: 20px 0px 15px 0px
			&-text	
				font-size: 12px
				line-height: 16px
	.consultation
		min-height: 465px
		padding: 50px 0px 70px 0px
		&__title	
			width: 550px
		&__undertitle
			font-size: 17px
			line-height: 23px
			width: 300px
			margin: 4px 0px 25px 0px
	.slider 
		margin: 55px 0px
		&__line
			width: 430px
		&__next, &__prev
			img 
				width: 20px
	.catalog
		margin-bottom: 45px
		&__nav
			margin: 23px 0px 33px 0px
			&-button
				width: 178px
				font-size: 14px
				height: 42px
				&:not(:last-child)
					margin-right: 7px
		&__items
			grid-template: 325px / repeat(2, 220px)
			grid-auto-rows: 360px
			justify-content: center
			gap: 12px 23px
		&__item
			padding: 13px
			&-title
				font-size: 13px
				line-height: 13px
			&-list ul, &-text
				font-size: 12px
				line-height: 14px
			&-back, &-more
				font-size: 12px
				line-height: 12px
			&-price
				font-size: 15px
				line-height: 15px
				span 
					font-size: 13px
					line-height: 13px
	.reviews
		padding-bottom: 35px
		&__items
			margin-top: 30px
		&__item
			&:not(:last-child)
				margin-bottom: 32px
			&-img
				margin-right: 25px
				img 
					width: 110px
			&-title
				font-size: 14px
				line-height: 14px
			&-undtitle
				font-size: 13px
				line-height: 19px
			&-text
				font-size: 13px
				line-height: 17px
				margin-top: 7px
	.footer 
		&__board
			width: 380px
			height: 200px
			padding: 30px 0px 35px 0px
		&__address
			font-size: 16px
			line-height: 16px
		&__phone
			font-size: 17px
			line-height: 17px
		&__links
			&-circle
				width: 42px
				height: 42px
				a 
					font-size: 19px
		iframe
			height: 470px
@media (max-width: 767px)
	.button_header
		width: 100px
		height: 22px
		font-size: 8px
	.title_fz42
		font-size: 25px
		line-height: 25px
	.title_fz24
		font-size: 14px
		line-height: 14px
	.title_fz30
		font-size: 18px
		line-height: 18px
	.title_fz36
		font-size: 17px
		line-height: 24px
	.button_big
		width: 215px
		height: 35px
		font-size: 11px
	.form
		width: 215px
		input
			height: 37px
			font-size: 11px
			margin-bottom: 9px
			padding: 0px 15px
	.button_small
		width: 72px
		height: 25px
		font-size: 10px
	.modals 
		.modal 
			width: 280px
			height: 255px
			padding: 17px 14px 20px
			&__subject
				font-size: 15px
				line-height: 15px
			&__undersubj
				font-size: 11px
				line-height: 11px
				margin: 2px 0px 13px 0px
	.header 
		margin: 10px 0px 45px 0px
		&__logo
			width: 170px
		&__official
			font-size: 9px
			line-height: 9px
		&__persons
			font-size: 11px
			line-height: 11px
			margin-top: 3px
		&__number
			margin-bottom: 0
			a 
				font-size: 12px
				line-height: 12px
	.promo 
		min-height: 380px
		&__h1
			margin: 0px 0px 7px 0px
		&__underbut
			font-size: 12px
			line-height: 14px
			margin-top: 4px
		&__oppor
			margin: 25px 0px 30px 0px
			&-item 
				width: 90px
				&:not(:last-child)
					margin-right: 16px
			&-undertext
				font-size: 10px
				line-height: 11px
				margin-top: 10px
	.advantages
		min-height: 290px
		padding: 30px 0px 45px 0px
		&__items
			margin-top: 25px
		&__item
			width: 135px
			&-head
				font-size: 12px
				line-height: 12px
				margin: 13px 0px 8px 0px
			&-text
				font-size: 10px
				line-height: 15px
	.consultation
		min-height: 370px
		padding: 35px 0px 55px 0px
		&__title
			width: 400px
		&__undertitle
			font-size: 14px
			line-height: 18px
			width: 250px
			margin: 4px 0px 20px 0px
	.slider
		margin: 35px 0px
		&__line
			width: 315px
		&__next, &__prev
			img 
				width: 18px
	.catalog
		margin-bottom: 35px
		&__nav
			margin: 17px 0px 25px 0px
			&-button
				width: 130px
				font-size: 12px
				height: 39px
				&:not(:last-child)
					margin-right: 6px
		&__items
			grid-template: 278px / repeat(2, 181px)
			grid-auto-rows: 278px
			gap: 12px 21px
		&__item
			padding: 10px
			&-title
				font-size: 12px
				line-height: 12px
			&-list ul, &-text
				font-size: 11px
				line-height: 11px
			hr 
				margin: 12px 0px
			&-price
				font-size: 13px
				line-height: 13px
				span 
					font-size: 11px
					line-height: 11px
	.reviews
		padding-bottom: 25px
		&__items
			margin-top: 25px
		&__item
			&:not(:last-child)
				margin-bottom: 25px
			&-img
				margin-right: 20px
				img 
					width: 80px
			&-title
				font-size: 12px
				line-height: 12px
			&-undtitle
				font-size: 12px
				line-height: 19px
			&-text
				font-size: 11px
				line-height: 15px
				margin-top: 5px
	.footer 
		&__board
			width: 300px
			height: 166px
			padding: 20px 0px 25px 0px
		&__address
			font-size: 14px
			line-height: 14px
		&__phone
			font-size: 15px
			line-height: 15px
		&__links
			&-circle
				width: 37px
				height: 37px
				a 
					font-size: 17px
		iframe
			height: 390px
@media (max-width: 575px)
	.button_header
		width: 86px
		height: 20px
		font-size: 7px
	.title_fz42
		font-size: 17px
		line-height: 17px
	.title_fz24
		font-size: 10px
		line-height: 10px
	.button_big
		width: 170px
		height: 25px
		font-size: 9px
	.title_fz30 
		font-size: 14px
		line-height: 14px
	.title_fz36
		font-size: 12px
		line-height: 18px
	.form
		width: 170px
		input
			height: 30px
			font-size: 8px
			margin-bottom: 7px
			padding: 0px 10px
	.button_small
		width: 59px
		height: 21px
		font-size: 9px
	.modals 
		.modal 
			width: 225px
			height: 200px
			padding: 12px 10px 15px
			&__subject
				font-size: 12px
				line-height: 12px
			&__undersubj
				font-size: 9px
				line-height: 9px
				margin: 1px 0px 9px 0px
	.header 
		margin: 5px 0px 35px 0px
		&__logo 
			width: 140px
		&__info 
			display: none 
		&__number
			a 
				font-size: 10px
				line-height: 10px
	.promo 
		min-height: 290px
		&__oppor
			margin: 15px 0px 20px 0px
			&-item 
				width: 67px
				&:not(:last-child)
					margin-right: 12px
			&-undertext
				font-size: 9px
				line-height: 10px
				margin-top: 8px
		&__underbut
			font-size: 9px
			line-height: 9px
			margin-top: 4px
	.advantages
		padding: 20px 0px 30px 0px
		&__items
			margin-top: 15px
			display: flex
			flex-direction: column
		&__united
			width: 180px
			margin-left: 20px
		&__item
			width: 100%
			display: flex
			text-align: left
			&:not(:last-child) 
				margin-bottom: 15px
			&-img
				width: 40px
				img 
					width: 100%
			&-head
				font-size: 10px
				line-height: 10px
				margin: 0px 0px 4px 0px
			&-text
				font-size: 9px
				line-height: 12px
	.consultation
		min-height: 300px
		padding: 25px 0px 40px 0px
		&__title
			width: 100%
		&__undertitle
			font-size: 11px
			line-height: 14px
			width: 100%
			margin: 4px 0px 15px 0px
	.slider
		margin: 20px 0px
		&__line
			width: 200px
		&__next, &__prev
			img 
				width: 10px
	.catalog
		margin-bottom: 25px
		&__nav
			margin: 10px 0px 15px 0px
			&-button
				width: 77px
				font-size: 8px
				height: 25px
				&:not(:last-child)
					margin-right: -1px
		&__items
			grid-template: 210px / repeat(2, 135px)
			grid-auto-rows: 210px
			gap: 7px
		&__item
			padding: 9px
			&-title
				font-size: 9px
				line-height: 9px
			&-list ul, &-text
				font-size: 8px
				line-height: 9px
			&-back, &-more
				font-size: 8px
				line-height: 8px
			hr 
				margin: 8px 0px
			&-price
				font-size: 10px
				line-height: 10px
				span 
					font-size: 9px
					line-height: 9px
	.reviews
		padding-bottom: 25px
		&__items
			margin-top: 20px
		&__item
			text-align: center
			flex-direction: column
			align-items: center
			&:not(:last-child)
				margin-bottom: 25px
			&-img
				margin-right: 0
				margin-bottom: 10px
				img
					width: 90px
			&-title
				font-size: 11px
				line-height: 11px
			&-undtitle
				font-size: 10px
				line-height: 14px
			&-text
				font-size: 10px
				lh13px
				text-align: justify
	.footer 
		iframe
			display: none
		&__board
			width: 100%
			height: 122px
			padding: 18px 0px 22px 0px
		&__address
			font-size: 11px
			line-height: 11px
		&__phone
			font-size: 13px
			line-height: 13px
		&__links
			&-circle
				width: 30px
				height: 30px
				a
					font-size: 16px