@media (max-width: 1199px)
	.title_fz42
		font-size: 38px
		line-height: 38px
	.title_fz24
		font-size: 21px
		line-height: 21px
	.title_fz30
		font-size: 27px
		line-height: 27px
	.title_fz36
		font-size: 30px
		line-height: 41px
	.button_big
		width: 280px
		height: 45px
		font-size: 15px
	.button_small
		width: 110px
		height: 35px
		font-size: 13px
	.up-arrow
		width: 40px
		right: 80px
		bottom: 90px
	.form 
		width: 280px
		input 
			height: 49px
			font-size: 13px
			margin-bottom: 11px
	.modals 
		.modal 
			width: 360px
			height: 345px
			padding: 30px 22px 33px
			&__subject
				font-size: 18px
				line-height: 18px
			&__undersubj
				font-size: 13px
				line-height: 13px
				margin: 6px 0px 19px 0px
	.header 
		margin: 21px 0px 80px 0px
		&__logo
			width: 230px
	.promo 
		min-height: 580px
		&__h1 
			margin: 0px 0px 13px 0px
		&__oppor
			margin: 45px 0px 50px 0px
		&__underbut
			font-size: 15px
			line-height: 23px
			margin-top: 6px
	.advantages
		min-height: 404px
		padding: 55px 0px 67px 0px
		&__items
			margin-top: 45px
		&__item
			width: 240px
			&-img
				img 
					width: 24%
			&-head
				font-size: 17px
				line-height: 26px
				margin: 28px 0px 15px 0px
			&-text
				font-size: 13px
				line-height: 17px
	.consultation
		min-height: 545px
		padding: 65px 0px 85px 0px
		&__title
			width: 727px
		&__undertitle
			font-size: 18px
			width: 345px
			margin: 5px 0px 28px 0px
			line-height: 26px
	.slider
		margin: 75px 0px
		&__line
			width: 600px
		&__next, &__prev
			img 
				width: 24px
	.catalog 
		margin-bottom: 55px
		&__nav
			margin: 30px 0px 45px 0px
			&-button
				width: 210px
				font-size: 15px
				height: 47px
		&__items
			grid-template: 390px / repeat(3, 250px)
			grid-auto-rows: 390px
			gap: 14px 13px
		&__item
			padding: 17px
			&-img	
				img
					width: 57%
			&-title
				font-size: 15px
				line-height: 19px
			&-list ul, &-text
				font-size: 13px
				line-height: 19px
			&-back, &-more
				font-size: 13px
				line-height: 13px
			&-price
				font-size: 16px
				line-height: 20px
				span 
					font-size: 13px
					line-height: 14px
	.reviews
		&__items
			margin-top: 40px
		&__item
			&:not(:last-child)
				margin-bottom: 45px
			&-img
				margin-right: 45px
				img 
					width: 130px
			&-title
				font-size: 16px
				line-height: 16px
			&-undertitle
				font-size: 13px
				line-height: 18px
			&-text
				font-size: 14px
				line-height: 22px
				margin-top: 8px
	.footer
		iframe
			height: 530px
		&__board
			width: 440px
			height: 235px
			padding: 40px 0px 46px 0px
		&__address
			font-size: 18px
			line-height: 18px
		&__phone
			font-size: 19px
			line-height: 19px
		&__links
			&-circle
				width: 48px
				height: 48px
				a 
					font-size: 22px
@media (max-width: 991px)
	.button_header
		width: 125px
		height: 30px
		font-size: 10px
	.title_fz42
		font-size: 35px
		line-height: 35px
	.title_fz24
		font-size: 19px
		line-height: 19px
	.button_big 
		width: 250px
		height: 39px
		font-size: 13px
	.title_fz30
		font-size: 22px
		line-height: 22px
	.title_fz36
		font-size: 22px
		line-height: 32px
	.form 
		width: 250px
		input 
			height: 45px
			font-size: 12px
			margin-bottom: 10px
			padding: 0px 17px
	.up-arrow
		width: 33px
		right: 65px
		bottom: 82px
	.button_small
		width: 100px
		height: 30px
		font-size: 12px
	.modals 
		.modal 
			width: 315px
			height: 310px
			padding: 22px 19px 27px
			&__subject
				font-size: 17px
				line-height: 17px
			&__undersubj
				font-size: 12px
				line-height: 12px
				margin: 4px 0px 16px 0px
	.header 
		margin: 15px 0px 60px 0px
		&__logo 
			width: 200px
		&__official
			font-size: 11px
			line-height: 11px
		&__persons
			font-size: 15px
			line-height: 15px
			margin-top: 6px
		&__number
			margin-bottom: 2px
			a 
				font-size: 15px
				line-height: 15px
	.promo 
		min-height: 470px
		&__h1
			margin: 0px 0px 9px 0px
		&__oppor
			margin: 35px 0px 40px 0px
			&-item
				width: 105px
				&:not(:last-child)
					margin-right: 16px
			&-img 
				img 
					width: 30%
			&-undertext
				font-size: 12px
				line-height: 12px
				margin-top: 13px
		&__underbut
			font-size: 13px
			line-height: 17px
			margin-top: 4px
	.advantages
		min-height: 345px
		padding: 40px 0px 55px 0px
		&__items
			margin-top: 30px
		&__item
			width: 182px
			&-img
				img 
					width: 28%
			&-head
				font-size: 15px
				line-height: 18px
				margin: 20px 0px 15px 0px
			&-text	
				font-size: 12px
				line-height: 16px
	.consultation
		min-height: 465px
		padding: 50px 0px 70px 0px
		&__title	
			width: 550px
		&__undertitle
			font-size: 17px
			line-height: 23px
			width: 300px
			margin: 4px 0px 25px 0px
	.slider 
		margin: 55px 0px
		&__line
			width: 430px
		&__next, &__prev
			img 
				width: 20px
	.catalog
		margin-bottom: 45px
		&__nav
			margin: 23px 0px 33px 0px
			&-button
				width: 178px
				font-size: 14px
				height: 42px
				&:not(:last-child)
					margin-right: 7px
		&__items
			grid-template: 325px / repeat(2, 220px)
			grid-auto-rows: 360px
			justify-content: center
			gap: 12px 23px
		&__item
			padding: 13px
			&-title
				font-size: 13px
				line-height: 13px
			&-list ul, &-text
				font-size: 12px
				line-height: 14px
			&-back, &-more
				font-size: 12px
				line-height: 12px
			&-price
				font-size: 15px
				line-height: 15px
				span 
					font-size: 13px
					line-height: 13px
	.reviews
		padding-bottom: 35px
		&__items
			margin-top: 30px
		&__item
			&:not(:last-child)
				margin-bottom: 32px
			&-img
				margin-right: 25px
				img 
					width: 110px
			&-title
				font-size: 14px
				line-height: 14px
			&-undertitle
				font-size: 13px
				line-height: 19px
			&-text
				font-size: 13px
				line-height: 17px
				margin-top: 7px
	.footer 
		&__board
			width: 380px
			height: 200px
			padding: 30px 0px 35px 0px
		&__address
			font-size: 16px
			line-height: 16px
		&__phone
			font-size: 17px
			line-height: 17px
		&__links
			&-circle
				width: 42px
				height: 42px
				a 
					font-size: 19px
		iframe
			height: 470px