.promo 
	min-height: 650px
	background: url('../img/promo-bg.jpg') 50%/cover no-repeat
	text-align: right
	&__h1
		margin: 0px 0px 17px 0px
	&__underbut
		font-weight: 500
		font-size: 16px
		line-height: 25px
		color: #FFFFFF
		margin-top: 8px
		a 
			color: #FFFFFF
	&__oppor
		display: flex
		justify-content: flex-end
		align-items: flex-end
		margin: 60px 0px 65px 0px
		&-item 
			width: 105px
			text-align: center
			&:not(:last-child) 
				margin-right: 40px
		&-undertext
			font-weight: 500
			font-size: 14px
			line-height: 14px
			color: #FFFFFF
			margin-top: 20px